header {
    width: 100%;
    height: 110px;
    background-color: #569C87;
    color: #E7C254;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}
body {
    margin: 0px 0px 200px 0px;
}
h2 {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 50px;
}
h3 {
    color: rgb(56, 23, 4);
    font-size: 35px;
}
h4 {
    margin-bottom: 0px;
    font-size: 30px;
}
h4:hover {
    text-decoration: underline;
    cursor: pointer;
}
h5 {
    margin: 0px;
    padding-top: 15px;
    font-size: 40px;
}
li {
    list-style: none;
}
.note_gradient {
    font-size: 65px;
    padding-top: 70px;
    background: -webkit-linear-gradient(left, rgba(214, 86, 27, 0.753),rgba(156, 12, 175, 0.808));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bottom_note {
    padding: 0px 15px;
}
.note {
    width: 900px;
    height: 1230px;
    background-color: #FCDEDA;
    display: flex;
    align-items: center;
    margin: 70px auto;
    flex-direction: column;
    box-shadow: 0px 0px 10px 3px rgb(233, 230, 230);
    border-radius: 5px;
}
.plats {
    line-height: 2.5em;
    vertical-align: 1px;
    display: flex;
    font-size: 20px;
    padding-bottom: 10px;
}
.prix {
    font-weight: bold;
}
footer {
    width: 100%;
    height: 60px;
    background-color: #569C87;
    color: #E7C254;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 35px;
    position: fixed;
    bottom:0;
}